:root {
    --bgColor: #121212;
}

html {
    background: var(--bgColor);
    font: 1.3rem Inconsolata, monospace;
    color: #00FF00; 
}

#content,
#choices {
    background-color: var(--bgColor);
    border: 3px solid #00FF00;
    margin: auto;
    float: left;
    width: 60%;
    height: 90%;
    overflow: hidden;
}

#content {
    border-bottom: 0;
}


#status-title,
#status {
    background-color: var(--bgColor);
    border: 3px solid #00FF00;
    margin: auto;
    float: top-right;
    width: 30%;
    height: 90%;
    padding: 10px;
    overflow: hidden;
}

#status-title {
    border-bottom: 0;
}



.storylet {
    width: 100%;
    outline: 2px solid rgb(2, 91, 24);
    float: left;

}
.storylet:hover {
    background-color: #357C46;
}

.title {
    margin: 10px;
}

.subtitle {
    margin: 10px;
    margin-left: 50px;
    font-style: italic;
}

h1 {
    text-align: center;
}

.statLine {
}

.description {
}